.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;  /* Round any decimal pixels so it'll render nicely */
}

path { 
    stroke: black;
    stroke-width: 1;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.container-text {
  max-width: 950px;
}

h1 {
  margin-bottom: 0px;
  font-size: 3vw;
  font-weight: lighter;
}

h2 {
  text-align: center;
  font-weight: normal;
}

.line {
  fill: none;
  stroke-width: 4px;
}
.axis path, .tick line {
  fill: none;
  stroke: #333;
}

.class-neg {
  fill: rgb(29, 29, 29);
}

.class-pos {
  fill: rgb(0, 202, 0);
}

.class-pred-neg {
  stroke: rgb(29, 29, 29);
  fill: none;
}

.class-pred-pos {
  stroke: rgb(0, 202, 0);
  fill: none;
}

.class-neg-boundary {
  fill: rgb(29, 29, 29);
  opacity: 0.35;
}

.class-pos-boundary {
  fill: rgb(0, 202, 0);
  opacity: 0.35;
}

.chance-line {
  stroke: lightgrey;
}

.roc-line {
  stroke-width: 3;
}

.roc-line-old {
  stroke: rgb(199, 212, 201);
}

.btn {
  margin-bottom: 5px;;
}